body {
  font-family:  sans-serif;
  background: gainsboro;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.search-box {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 12px 70px 12px 70px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  padding: 12px 60px 12px 60px;
  cursor: pointer;
  border-radius: 10px;

}

#newsContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.news-card {
  background: white;
  padding: 15px;
  border-radius: 5px;
  width: 350px;
  padding: 15px;
  background: whitesmoke;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.news-card:hover{
transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.news-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.news-card h3 {
  font-weight: bold;
  font-size: 20px;
}

.news-card a {
  text-decoration: none;
  color:royalblue;
}
